@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Montserrat:wght@400&family=Poppins:wght@400;900&family=Red+Hat+Display:ital,wght@0,600;1,400&family=Space+Mono&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Montserrat';
    background-color: #f3f3f3;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%234c1212' fill-opacity='0.53'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.quote-container {
    background-color:rgb(116, 73, 44);
    border-radius: 10px;
    width: auto;
    max-width: 900px;
    padding: 20px 30px;
    height: 200px;
    box-shadow: 0px 2px 10px 2px black;
}

.quote-text {
     display: flex;
     text-align: center;
     font-size: 1.5rem;
}

.quote-text i {
    font-size: 2.5rem;
}

.author {
    text-align: center;
    font-style: italic;
    font-weight: 200;
    padding: .5em;
}

.btn-container {
    display: flex;
    justify-content: space-between;
}
.btn-container button {
    padding: .5em 1.5em;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    color: rgb(116, 73, 44);
    outline: none;
    box-shadow: 0 0.2rem rgba(68, 42, 42, 0.65);
}

.btn-container button:hover {
    cursor: pointer;
    filter: brightness(110%);
}
.btn-container .btn-tweet:hover {
    color: royalblue;
}

.btn-container button:active {
    transform: translate(0 0.3rem );
    box-shadow:  0 0.1rem rgba(77, 62, 62, 0.65);
}

@media screen and (max-width: 1000px) {
    .quote-container {
        width: 90%;
    }

    .quote-text {
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 800px) {
    .quote-container {
        width: 90%;
    }

    .quote-text {
        font-size: 1rem;
    }
}

@media screen and (max-width: 550px){

    .quote-text {
        font-size: .8rem;
    }
    .btn-container button {
        font-size: .8rem;
    }
}

@media screen and (max-width: 350px){

    .quote-text {
        font-size: .6rem;
    }
    .btn-container button {
        font-size: .6rem;
    }
}
